<div *ngIf="step == 6" class="flex fColumn h100 f1">

    <div class="h100 flex fColumn fCenter pRel" style="background-color: transparent;">
        <div class="flex fColumn fCenter gap10 mB40" style="background-color: transparent;">
            <div class="br10" style="border: solid 5px white; background-color: transparent; width: 250px; height: 250px;">
            </div>
            <h4 *ngIf="!timberMode" class="br10 pad10 fw5 textCenter" style="width: 250px; color: #212121; background-color: white;">Inquadra il QR per prendere la carta cliente o leggere il menù</h4>
            <h4 *ngIf="!!timberMode" class="br10 pad10 fw5 textCenter" style="width: 250px; color: #212121; background-color: white;">Inquadra il QR del tavolo per timbrare la tua carta cliente</h4>
        </div>
        <button *ngIf="!timberMode" class="w30 mAuto pAbs br10 pad10 padX10 bgrW brN" style="bottom: 40px; width: 100px; border-radius: 10px; left: calc(50% - 50px); z-index: 5; box-shadow: 0px 3px 10px 0px rgb(255 255 255 / 30%)" (click)="cancelScan()">
            <h3 class="fw5">annulla</h3>
        </button>
        <button *ngIf="!!timberMode" class="w30 mAuto pAbs br10 pad10 padX10 bgrW brN" style="bottom: 40px; width: 100px; border-radius: 10px; left: calc(50% - 50px); z-index: 5; box-shadow: 0px 3px 10px 0px rgb(255 255 255 / 30%)" (click)="cancelScan()">
            <h3 class="fw5">annulla</h3>
        </button>
    </div>
</div>
<button class="pAbs pTop0 pLeft0 br10 bgrW brN" style="visibility: hidden; height: 0px; width: 0px;" (click)="addOrNotCard()" id="doneButton" type="button"></button>
<button class="pAbs pTop0 pLeft0 br10 bgrW brN" style="visibility: hidden; height: 0px; width: 0px;" (click)="scanQR()" id="scanButton" type="button"></button>
<button class="pAbs pTop0 pLeft0 br10 bgrW brN" style="visibility: hidden; height: 0px; width: 0px;" (click)="goHome()" id="goHome" type="button"></button>


<div *ngIf="step !== 6" class="h110 flex fColumn gap30 pad10">
    <ng-container *ngIf="!loading">
        <div *ngIf="step == 1" class="flex fColumn gap20 mT20">
            <!-- <p id="slogan" class="mB10">Inserisci il codice del locale per iniziare.</p> -->
            <form class="flex fColumn gap15" action="" [formGroup]="incForm">
                <label for="localId">{{ (tr?.title || 'Scrivi il codice del locale, o INQUADRA il QR-CODE del locale.') }}</label>
                <input formControlName="id" id="localId" class="indroButton f1 br10" type="number" pattern="[0-9]*" min="1" step="1" placeholder="Codice Locale">
                <button [disabled]="incForm.invalid" (click)="getBusiness()" class="f1 br10 btnFilledIndro"
                    type="button">{{ (tr?.conferma || 'CONFERMA') }}</button>
            </form>
            <p class="textCenter">Oppure</p>
            <button (click)="scanQR()" class="f1 br10 btnFilledIndro bgrG" type="button"><i class="fa-solid fa-camera"></i> {{ (tr?.scan || 'SCAN QR LOCALE') }}</button>
            <br>
            <button (click)="goHome()" class="f1 br10 btnOutline" type="button">indietro</button>
        </div>
        <ng-container *ngIf="(business$ | async) as business">
            <div *ngIf="step == 2" class="flex fColumn gap30">
                <!-- <div>
                    <p id="description">Sei a:</p>
                    <p class="incName">{{business.name}}</p>
                </div> -->
                <div class="flex fColumn gap20 pad10 br10 boxSha bgrW">
                    <p>La Carta Fedelta prevede un <strong>PREMIO</strong> una volta completata. Cliccando sulla Carta potrai anche <strong>PRENOTARE</strong>, scrivere una recensione, guardare il <strong>MENU</strong> e tante altre cose!.
                    </p>
                    <button (click)="addFidelityCard()" class="f1 br10 btn1 bgrG boxSha pad15 brN w100">AGGIUNGI CARTA FEDELTA</button>
                </div>
                <div class="flex fColumn gap20 pad10 br10 boxSha bgrW">
                    <p>Lascia una recensione o un consiglio al locale, <strong>totalmente in ANONIMO!</strong> Sarà
                        visibile
                        solo al titolare, non è pubblico.</p>
                    <button (click)="step = 5" class="f1 br10 btn1 bgrBl boxSha pad15 brN w100">SCRIVI RECENSIONE</button>
                </div>
                
                <!-- <div class="flex fColumn gap20 pad10 br10 boxSha bgrW">
                    <p>
                        Se fai un Post su Instagram taggando questo locale, con un <strong>account PUBBLICO</strong>,
                        e se il titolare lo approverà, avrai un <strong>PREMIO</strong> per la prossima
                        volta.
                    </p>
                    <p>
                        In questo locale l'85% dei post vengono approvati entro 1 settimana dall'invio.
                    </p>
                    <button (click)="next()" class="f1 br10 btnFilledIndro">SCONTO INSTAGRAM</button>
                </div> -->

                <button (click)="goHome()" class="f1 br10 btnOutline" type="button">ANNULLA</button>
                
                <!-- <div class="flex fColumn gap20 pad10 br10 boxSha bgrW">
                    <p>La funzionalità "SONO QUI" permette di vedere gli <strong>account instagram delle persone
                            presenti</strong> nel locale, se anche loro hanno cliccato "SONO QUI".
                        Cliccando, anche il tuo username instagram sarà visibile. Utile <strong>se ti piace
                            qualcuno/a</strong> e capisci che anche l'altro/a ricambia.
                    </p>
                    <div class="flex fColumn gap5 jCenter">
                        <button class="f1 br10 btnFilledIndro">SONO QUI</button>
                        <small class="w100 textCenter">sarai visibile per 1 ora</small>
                    </div>
                </div> -->
            </div>

            <div *ngIf="step == 3" class="flex fColumn gap40">
                <p id="slogan" class="mB10 textCenter">Nuovo Post Instagram</p>
                <div class="flex fColumn gap10 rules">
                    <!-- <p class="fBold textCenter">Regole:</p> -->
                    <p>Il tuo account deve essere pubblico, almeno fino all’utilizzo del buono sconto.</p>
                    <p>Inquadrare almeno un piatto o una parte del locale.</p>
                    <p>Taggare sul Post la nostra pagina Instagram.</p>
                    <p>Scrivere una frase di apprezzamento nella bio.</p>
                    <form class="flex fColumn gap15" action="" [formGroup]="socialPostForm">
                        <label for="postUrl">Fai il post su Instagram taggando il locale, e poi copia il link del post
                            qui
                            sotto.</label>
                        <input formControlName="url" class="indroButton f1 br5" id="postUrl" type="text" placeholder="Link del Post">
                    </form>
                </div>
                <button [disabled]="socialPostForm.invalid" class="f1 br5 btnFilledIndro" (click)="sendSocialPostUrl()" type="button">INVIA LINK POST</button>
                <button (click)="goHome()" class="f1 br10 btnOutline" type="button">ANNULLA</button>
            </div>

            <div *ngIf="step == 4" class="flex fColumn fCenter gap5 mT40">
                <p class="incName textCenter">Grazie!</p>
                <p class="incName textCenter">Il titolare controllerà al più presto il tuo post.</p>
                <p id="description textCenter">l’85% dei Post vengono approvati :)</p>
                <button (click)="goHome()" style="width: 200px;" class="br10 btnOutline mT40 textCenter"
                    type="button">CHIUDI</button>
            </div>

            <div *ngIf="step == 5" class="flex fColumn gap40">
                <p id="slogan" class="mB10 textCenter">Scrivi Recensione ANONIMA.</p>
                <div class="flex fColumn gap10 rules">
                    <form class="flex fColumn gap15" action="" [formGroup]="reviewForm">
                        <label for="ratingSelect">Quante stelle?</label>
                        <select id="ratingSelect" formControlName="rating" class="br5 brN w100 boxSha mB10" style="font-size: 17px; height: 42px;">
                            <option [value]="null" selected disabled>-- Seleziona --</option>
                            <option value="1">1 Stella</option>
                            <option value="2">2 Stelle</option>
                            <option value="3">3 Stelle</option>
                            <option value="4">4 Stelle</option>
                            <option value="5">5 Stelle</option>
                        </select>
                        <label for="review">Ciò che scriverai è visibile solo al titolare, e non è una recensione
                            pubblica.
                            Inutile insultare.</label>
                        <input formControlName="text" class="indroButton f1 br5" id="review" type="text" placeholder="Mi sono trovato...">
                    </form>
                </div>
                <button [disabled]="reviewForm.invalid" class="f1 br5 btnFilledIndro" (click)="sendReview()" type="button">INVIA COMMENTO</button>
                <button (click)="goHome()" class="f1 br10 btnOutline" type="button">ANNULLA</button>
            </div>
        </ng-container>
    </ng-container>
    <div *ngIf="!!loading" class="spinner mAuto mT40"></div>
</div>

<div *ngIf="!!loading" class="spinner mAuto mT40"></div>