
#slogan {
    font-size: 21px;
    font-weight: 700;
}
#description {
    font-size: 18px;
    font-weight: 300;
}
.incName {
    font-size: 21px;
    font-weight: 700;
}
.qrWindow {
    background-color: transparent;
    border: 5px solid #f5f5f5;
    margin-left: -5px;
    margin-right: -5px;
    z-index: 1;
    margin-top: -5px;
    margin-bottom: -5px;
}
.loadWindow {
    background-color: #f5f5f5;
    border: 5px solid #f5f5f5;
    margin-left: -5px;
    margin-right: -5px;
    z-index: 1;
    margin-top: -5px;
    margin-bottom: -5px;
    color: #424242;
}