<ng-container *ngIf="!loading && !editMode && !sendNot">
    <div *ngIf="(business$ | async) as business" class="h110 flex fColumn gap20 pad10 pRel"
        style="padding-bottom: 90px;">
        <!-- <h2>{{business?.name}}</h2> -->
        <div class="list br10 bgrW">
            <div class="element" (click)="go('business-discounts/'+business.id)">
                <p>Premi / Sconti</p>
            </div>
            <div class="element" (click)="go('business-cards/'+business.id)">
                <p>Carta Fedeltà</p>
            </div>
            <!-- <div class="element" (click)="go('business-social-posts/'+business.id)">
                <p>Gestire Post Instagram</p>
            </div> -->
            <div class="element" (click)="go('business-reviews/'+business.id)">
                <p>Recensioni dei Clienti</p>
            </div>
            <div class="element" (click)="go('business-employees/'+business.id)">
                <p>Dipendenti</p>
            </div>
            <div class="element" (click)="editMode = true">
                <p>Modifica Attività</p>
            </div>
            <div class="element" (click)="sendNot = true">
                <p>Manda Messaggio a tutti i Clienti</p>
            </div>
            <div class="element" (click)="go('business-notifications/'+business.id)">
                <p>Messaggi mandati ai clienti</p>
            </div>
            <div class="element" (click)="editMenu()">
                <p>Modifica Menù</p>
            </div>
            <div class="element" (click)="goToInsight()">
                <p>Statistiche Locale</p>
            </div>
        </div>
        <!-- <div class="list br10 bgrW">
            <div class="element" (click)="go('business-check/'+business.id)">
                <p>Convalida Premio <i class="fa-solid fa-qrcode"></i></p>
            </div>
            <div class="element" (click)="go('business-check/'+business.id)">
                <p>Segna Carta Fedeltà <i class="fa-solid fa-qrcode"></i></p>
            </div>
        </div> -->
    </div>
</ng-container>
<div *ngIf="!!loading" class="spinner mAuto"></div>


<div *ngIf="!!editMode && !loading" class="flex fColumn fCenter pad10 w100">
    <form *ngIf="!loading" class="flex fColumn gap20 w100" [formGroup]="editBusinessForm">
        <!-- <h2>Nuova Attività</h2> -->
        <div class="flex fColumn gap5">
            <label>Nome Locale</label>
            <input formControlName="name" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Nome Locale">
        </div>
        <div class="flex fColumn gap5">
            <label>Indirizzo</label>
            <input formControlName="address" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Indirizzo">
        </div>
        <div class="flex fColumn gap5">
            <label>Numero di Telefono</label>
            <input formControlName="phoneNumber" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="tel" placeholder="Primo Telefono +39...">
        </div>
        <div class="flex fColumn gap5">
            <label>Secondo Numero di Telefono</label>
            <input formControlName="secondPhoneNumber" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="tel" placeholder="Secondo Telefono +39...">
        </div>
        <div class="flex fColumn gap5">
            <label>CAP/Codice Postale Locale</label>
            <input formControlName="cap" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="tel" placeholder="CAP/Codice Postale 00175">
        </div>
        <div class="flex fColumn gap5">
            <label>Descrizione Locale</label>
            <input formControlName="description" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Descrizione">
        </div>
        <div class="flex fColumn gap5">
            <label>Come funziona la Carta Fedeltà</label>
            <input formControlName="cardDescription" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Come funziona la Carta Fedeltà">
        </div>
        <div class="flex fColumn gap5">
            <label>Sito Web</label>
            <input formControlName="website" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Sito web / link di Google Maps">
        </div>
        <div class="flex fColumn gap5">
            <label>Link Menu/Prezzi</label>
            <input formControlName="menuLink" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Link/url menu - tariffe - prezzi">
        </div>
        <div class="flex fColumn gap5">
            <label>Link Instagram</label>
            <input formControlName="instagramPage" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Link/url Pagina Instagram">
        </div>
        <div class="flex fRow aCenter gap10 w100">
            <input style="transform: scale(1.5);" formControlName="acceptReservations" type="checkbox">
            <span>Accetto Prenotazioni</span>
        </div>
        <!-- <div class="flex fRow aCenter gap10 w100">
            <input style="transform: scale(1.5);" formControlName="acceptReferral" type="checkbox">
            <span>Sconto Amico Invitato Attivo</span>
        </div> -->
        <div class="flex fRow aCenter gap10 w100">
            <input style="transform: scale(1.5);" formControlName="disableReservationToday" type="checkbox">
            <span>Siamo Pieni Oggi</span>
        </div>
        <div class="flex fRow aCenter gap10 w100">
            <input style="transform: scale(1.5);" formControlName="discountOnFirstReview" type="checkbox">
            <span>Sconto Automatico alla prima recensione</span>
        </div>
        <div class="flex fRow aCenter gap10 w100">
            <input style="transform: scale(1.5);" formControlName="discountOnFirstReservation" type="checkbox">
            <span>Sconto Automatico alla prima prenotazione</span>
        </div>
        <button type="button" [disabled]="editBusinessForm.invalid" class="w100 br10 bgrAB pad10 brN mB10" (click)="editBusiness()"><h2 class="fw6">Salva</h2></button>
        <button type="button" class="w100 br10 bgrW pad10 padX30 br2ALL ffG" (click)="editMode = false"><h2 class="fw4 crBl">annulla</h2></button>
        <!-- <p style="text-decoration: underline;" (click)="router.navigateByUrl('signup')">Oppure Registrati</p> -->
    </form>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>


<div *ngIf="!!sendNot && !loading" class="flex fColumn fCenter pad10 w100">
    <form *ngIf="!loading" class="flex fColumn gap20 w100" [formGroup]="notForm">
        <h3>Manda messaggio con notifica ai tuoi clienti!</h3>
        <div class="flex fColumn gap5">
            <label for="titleNot">Titolo (Testo Notifica)</label>
            <input id="titleNot" formControlName="title" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="OGGI PORCHETTA!">
        </div>
        <div class="flex fColumn gap5">
            <label for="messageNot">Messaggio (facoltativo)</label>
            <input id="messageNot" formControlName="msg" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Solo oggi panino con la porchetta fresca.">
        </div>
        <button type="button" [disabled]="notForm.invalid" class="w100 br10 bgrAB pad10 brN mB10" (click)="sendNotification()"><h2 class="fw6">Invia</h2></button>
        <button type="button" class="w100 br10 bgrW pad10 padX30 br2ALL ffG" (click)="sendNot = false"><h2 class="fw4 crBl">annulla</h2></button>
        <!-- <p style="text-decoration: underline;" (click)="router.navigateByUrl('signup')">Oppure Registrati</p> -->
    </form>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>