<div class="h110 flex fColumn gap30 pad10 pRel" style="padding-bottom: 90px;">
    <!-- <h2>Commenti dai Clienti</h2> -->
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="(reviews$ | async) as reviews">
            <div *ngFor="let review of reviews">
                <div class="flex fColumn boxSha br10 bgrW pad20 cP gap10">
                    <!-- https://angular.io/api/common/DatePipe -->
                    <p class="fBold">{{review.created_at | date:'d/M/yy, H:mm'}}</p>
                    <p>{{review.text}}</p>
                </div>
            </div>
            <p *ngIf="!reviews.length">Nessun Commento ricevuto.</p>
        </ng-container>
    </ng-container>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>