<!-- <div class="flex fColumn gap20 pad40 bgrR h100">
    <div class="w70 mAuto flex fColumn fCenter gap20 mT20 qrCode">
        <small>{{discountId}}</small>
        <div class="pad10 br5 bgrW">
            <qrcode [qrdata]="discountId+''" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <p class="textCenter">Mostra il QR alla cassa</p>
    </div>
    <div class="flex fColumn gap10 mT20 infos">
        <p>Presso: <span class="incName">{{businessName}}</span></p>
    </div>
    <div class="flex fColumn gap20 mT20 rules">
        <p>Una volta usato non sarà più valido e sarà automaticamente eliminato.</p>
        <p>Sono validi massimo 1 buono sconto alla volta per attivita commerciale.</p>
    </div>
</div> -->



<div *ngIf="discount" class="flex fColumn gap30 mT20 h100">
    <div class="flex fColumn fCenter gap10 mT80">
        <small class="w100 textCenter f1 fw6">Codice Sconto: {{discount?.id}}</small>
        <div class="flex fRow fCenter bgrR pad20 br10 boxSha">
            <qrcode class="br10" [qrdata]="getQrRaw()" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <h3 class="fw6 textCenter">Mostra questo Sconto alla cassa</h3>
        <h4 class="fw4 textCenter" *ngIf="discount?.discount_amount">{{discount?.discount_amount}}{{ discount?.discount_type == 'PERC' ? '%' : '€' }}, minimo di spesa di {{discount?.discount_minimum_expense}}€</h4>
        <p class="discountValue" *ngIf="!discount?.discount_amount">
            {{discount?.slogan || 'PASTO GRATIS!'}}
        </p>
        <button class="f1 br10 btn1 bgrW boxSha pad15 brN mT20" (click)="close.emit()">FATTO</button>
    </div>
</div>