<!-- <div class="flex fColumn gap20 pad40 bgrR h100">
    <div class="w70 mAuto flex fColumn fCenter gap20 mT20 qrCode">
        <small>{{discountId}}</small>
        <div class="pad10 br5 bgrW">
            <qrcode [qrdata]="discountId+''" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <p class="textCenter">Mostra il QR alla cassa</p>
    </div>
    <div class="flex fColumn gap10 mT20 infos">
        <p>Presso: <span class="incName">{{businessName}}</span></p>
    </div>
    <div class="flex fColumn gap20 mT20 rules">
        <p>Una volta usato non sarà più valido e sarà automaticamente eliminato.</p>
        <p>Sono validi massimo 1 buono sconto alla volta per attivita commerciale.</p>
    </div>
</div> -->



<div *ngIf="discount" class="flex fColumn gap30 mT20 h100 pad10">
    <div class="flex fColumn fCenter gap40 mT80">
        <div *ngIf="!fidelityCardEvent" class="flex fColumn fCenter gap10">
            <h3 class="w100 textCenter f1 fw6">Codice Sconto: {{discount?.id}}</h3>
            <div class="flex fColumn fCenter bgrW pad10 br10 br1ALL">
                <qrcode class="br10" [qrdata]="getQrRaw()" colorDark="#212121" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
        <div *ngIf="!fidelityCardEvent" class="flex fColumn fCenter gap5">
            <h4 class="fw5 textCenter">Mostra questo QR in cassa per pagare, o al personale del locale.</h4>
            <h3 class="fw5" *ngIf="!discount?.discount_amount">
                {{discount?.slogan || 'PASTO GRATIS!'}}
            </h3>
            <h4 class="fw4 textCenter" *ngIf="discount?.discount_amount">
                {{discount?.discount_amount}}{{ discount?.discount_type == 'PERC' ? '%' : '€' }} di sconto, minimo di spesa di {{discount?.discount_minimum_expense}}€
            </h4>
            <p class="discountValue" *ngIf="!discount?.discount_amount">
                {{discount?.slogan || 'PASTO GRATIS!'}}
            </p>
            <button class="w80 mAuto mT20 br10 bgrW pad10 padX30 br2ALL ffG" (click)="close.emit()"><h2 class="fw4 crBl">Fatto</h2></button>
        </div>

        <div *ngIf="!!fidelityCardEvent" class="flex fColumn fCenter gap5">
            <h2 class="fw5">Sconto applicato con successo!</h2>
            <h4 class="fw4"><span class="fw6 txtU">I tuoi punti sono stati resettati</span>, ci vediamo la prossima! :)</h4>
            <button class="w80 mAuto mT20 br10 bgrW pad10 padX30 br2ALL ffG" (click)="close.emit()"><h2 class="fw4 crBl">Fatto</h2></button>
        </div>
    </div>
</div>