<ng-container *ngIf="!loading">
    <form *ngIf="businessId" class="h110 flex fColumn gap20 pad10 pRel"
        style="padding-bottom: 90px;" [formGroup]="scanForm">
        <!-- <p>Un premio/sconto, dopo averlo convalidato non potrà più essere usato.</p> -->

        <label for="discountTypeSelect" class="fBold">Quanti punti segnare/timbrare sulla carta del cliente?</label>
        <input formControlName="pointsToAdd" class="indroButton fBold br5 w100 mB10 textCenter" type="tel" min="1" step="1" placeholder="1">

        <button *ngIf="businessId" 
            type="button" 
            class="btnFilledIndro br5 w100 bgrG" 
            (click)="go('business-check/'+businessId)"
        >
        <i class="fa-solid fa-camera"></i>  SCAN QR CLIENTE
        </button>
    </form>
</ng-container>
<div *ngIf="!!loading" class="spinner mAuto"></div>
