<!-- <div class="cP flex fRow gap15 pad15 br5 card bgrY">
    <div class="qrCode">
        <img src="https://boofcv.org/images/thumb/3/35/Example_rendered_qrcode.png/400px-Example_rendered_qrcode.png" alt="">
    </div>
    <div class="flex fColumn gap10 discountInfo">
        <p class="incName">{{discount?.business_name}}</p>
        <p class="discountInfo">
            {{discount?.discount_amount}}{{ discount?.discount_type == 'PERC' ? '%' : '€' }}, 
            minimo di spesa di {{discount?.discount_minimum_expense}}€
        </p>
    </div>
</div> -->

<div class="flex fRow aCenter pad10 bgrABG br10 gap10" [ngClass]="{ 'op8': !!discount.validFromTomorrow }">
    <!-- <div class="flex fRow fCenter">
        <div class="flex fRow fCenter pad5 br5 bgrW">
            <img width="50" src="https://boofcv.org/images/thumb/3/35/Example_rendered_qrcode.png/400px-Example_rendered_qrcode.png" alt="">
        </div>
    </div> -->
    <div class="flex fRow fCenter pad5 br5 bgrW">
        <img width="45" src="https://boofcv.org/images/thumb/3/35/Example_rendered_qrcode.png/400px-Example_rendered_qrcode.png" alt="">
    </div>
    <div *ngIf="!discount.validFromTomorrow" class="flex fColumn discountBio f1">
        <h4 class="fw6">{{discount?.business_name}}</h4>
        <h5 class="fw3" *ngIf="discount?.discount_minimum_expense">
            minimo di spesa di {{discount?.discount_minimum_expense}}€
        </h5>
        <h5 class="fw3" *ngIf="!discount?.discount_minimum_expense">
            nessuna spesa minima!
        </h5>
        <h3 class="fw5" *ngIf="discount?.discount_amount">
            {{discount?.discount_amount}}{{ discount?.discount_type == 'PERC' ? '%' : '€' }} di sconto
        </h3>
        <h3 class="fw5" *ngIf="!discount?.discount_amount">
            {{discount?.slogan || 'PASTO GRATIS!'}}
        </h3>
    </div>
    <div *ngIf="!!discount.validFromTomorrow" class="flex fColumn discountBio f1">
        <h4 class="fw6">{{discount?.business_name}}</h4>
        <h5 class="fw3" *ngIf="discount?.discount_amount">
            {{discount?.discount_amount}}{{ discount?.discount_type == 'PERC' ? '%' : '€' }} di sconto
        </h5>
        <h5 class="fw3" *ngIf="!discount?.discount_amount">
            {{discount?.slogan || 'PASTO GRATIS!'}}
        </h5>
        <h3 class="fw5">
            Valido da domani
        </h3>
    </div>
    <div class="flex fColumn fCenter padX10">
        <i class="fa-solid fa-gift" style="font-size: 18px;"></i>
    </div>
</div>