<div class="flex fColumn fCenter pad10 w100 gap20">
    <div *ngIf="!loading" class="flex fColumn gap20 w100 bgrG pad20" [formGroup]="newBusinessForm">
        <h3 class="fw7">Vuoi usare Comeback nella tua attività?</h3>
        <p><strong>Scrivici per email</strong>, indicando il NUMERO Utente che trovi nelle impostazioni dell'app <i id="gearIcon" class="fa-solid fa-gear"></i>, l'indirizzo del locale, un numero di telefono per contattarti, e se lo hai, un codice sconto di un nostro referente.
        </p>
        <p>
            Noi ti ricontattiamo, ci organizziamo insieme, e se tutto è ok ti porteremo il QR CODE del tuo locale, e una piccola locandida da mettere dove vuoi, che indica ai clienti che nel tuo locale possono usare Comeback!
        </p>
        <h3 style="text-decoration: underline;" (click)="mail()">EMAIL: comebackwebapp@gmail.com</h3>
        <!-- <input formControlName="name" class="indroButton f1 br5 w100 mT30" type="text" placeholder="Nome">
        <input formControlName="referralCode" class="indroButton f1 br5 w100 mT30" type="text" placeholder="Codice sconto per mese gratis">
        <button type="button" [disabled]="newBusinessForm.invalid" class="btnFilledIndro f1 br5 w100" (click)="addNewBusinessi()">CREA</button> -->
        <!-- <p style="text-decoration: underline;" (click)="router.navigateByUrl('signup')">Oppure Registrati</p> -->
    </div>
    <div *ngIf="!loading" class="flex fColumn gap10 w100 bgrG pad20" [formGroup]="newBusinessForm">
        <p class="fw7">Funzionalità di Comeback:</p>
        <ul>
            <li>Carte Fedeltà.</li>
            <li>Notifiche ai Clienti.</li>
            <li>Recensioni private dei clienti.</li>
            <li>Gestione Sconti/Premi.</li>
            <li>Prenotazioni dall'app.</li>
        </ul>
    </div>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>