<div *ngIf="!!manualMode" class="flex fColumn pad20 gap20 w100 bgrWl">
    <ng-container *ngIf="!loading">
        <h2>Segna/Timbra a mano</h2>
        <form class="flex fColumn gap10 w100" [formGroup]="entityForm">

            <div class="flex fColumn gap5">
                <label for="entitySelect">Cosa?</label>
                <select 
                    formControlName="type"
                    name="entitySelect" 
                    id="entitySelect" 
                    class="br10 brN w100 boxSha" 
                    style="font-size: 17px; height: 42px;" 
                >
                    <option disabled selected [value]="null">-- Seleziona --</option>
                    <option value="discount">Sconto</option>
                    <option value="fidelityCard">Carta Fedeltà</option>
                </select>
            </div>
            
            <div class="flex fColumn gap5">
                <label for="discountTypeSelect">Codice della Carta o dello Sconto (è scritto sopra il qr sul tel del cliente)</label>
                <input formControlName="id" class="indroButton f1 br5 w100 mB10" type="number" pattern="[0-9]*" min="1" step="1" placeholder="42">
            </div>

            <button 
                type="button" 
                [disabled]="entityForm.invalid" 
                class="w100 br10 btn1 bgrG boxSha pad15 brN w100"
                (click)="manualValidate()"
            >
                CONFERMA
            </button>
            <br>
            <button 
                type="button" 
                class="btnOutline f1 br10 w100" 
                (click)="cancelScan()"
            >
                INDIETRO
            </button>
        </form>
    </ng-container>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>


<div *ngIf="!!qrMode" class="flex fColumn h100 f1">
    <div class="flex fRow w100 bgrWl" style="height: 5px;">
    </div>
    <div class="flex fRow f1">
        <div class="flex fRow w100 bgrWl" style="width: 20px;">
        </div>
        <div *ngIf="!loading" class="flex fRow w100 br10 f1 qrWindow">
        </div>
        <div *ngIf="!!loading" class="flex fRow w100 br10 f1 fCenter loadWindow">
            <p>Caricamento...</p>
        </div>
        <div class="flex fRow w100 bgrWl" style="width: 20px;">
        </div>
    </div>
    <div *ngIf="!loading" class="flex fColumn fCenter pad15 gap10 w100 bgrWl">
        <button 
            type="button" 
            class="btnFilledIndro f1 br10 w100" 
            (click)="cancelScan()"
        >
            indietro
        </button>
        <button 
            type="button" 
            class="btnOutline f1 br10 w100" 
            (click)="writeCode()"
        >
            timbra a mano
        </button>
    </div>
</div>
