<div class="h110 flex fColumn gap30 pad10 pRel" *ngIf="!newEmployee && !currentEmployee" style="padding-bottom: 90px;">
    <!-- <h2>Le tue Attività</h2> -->
    <ng-container *ngIf="!loading">
        <div class="list br10 bgrW">
            <div *ngFor="let employee of (employees$ | async)" class="element" (click)="openEmplyee(employee)">
                <p>{{employee.user_email}}</p>
            </div>
            <div class="element" (click)="newEmployee = true">
                <p>NUOVO</p>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>



<div *ngIf="!!newEmployee && !loading" class="flex fColumn fCenter pad10 w100">
    <form *ngIf="!loading" class="flex fColumn gap10 w100" [formGroup]="employeeForm">
        <!-- <h2>Nuova Attività</h2> -->
        <label for="userIdInput">Scrivi NUMERO UTENTE, che possono trovare sul profilo.<i class="fa-solid fa-user"></i></label>
        <input id="userIdInput" formControlName="userId" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="NUMERO UTENTE">
        <button type="button" [disabled]="employeeForm.invalid" class="w100 br10 bgrAB pad10 brN mB10" (click)="addEmployee()"><h2 class="fw6">Aggiungi</h2></button>
        <button type="button" class="w100 br10 bgrW pad10 padX30 br2ALL ffG" (click)="newEmployee = false"><h2 class="fw4 crBl">annulla</h2></button>
        <!-- <p style="text-decoration: underline;" (click)="router.navigateByUrl('signup')">Oppure Registrati</p> -->
    </form>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>

<div *ngIf="!!currentEmployee && !loading" class="flex fColumn fCenter pad10 w100">
    <form *ngIf="!loading" class="flex fColumn gap10 w100" [formGroup]="employeeForm">
        <h3>{{currentEmployee.user_email}}</h3>
        <label for="userIdInput">Non modificare il campo di testo.</label>
        <input id="userIdInput" formControlName="userId" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text">
        <button type="button" [disabled]="employeeForm.invalid" class="w100 br10 bgrAB pad10 brN mB10" (click)="removeEmployee()"><h2 class="fw6">Rimuovi</h2></button>
        <button type="button" class="w100 br10 bgrW pad10 padX30 br2ALL ffG" (click)="closeEmp()"><h2 class="fw4 crBl">annulla</h2></button>
        <!-- <p style="text-decoration: underline;" (click)="router.navigateByUrl('signup')">Oppure Registrati</p> -->
    </form>
    <div *ngIf="!!loading" class="spinner mAuto"></div>
</div>