<!-- <div class="flex fColumn gap30 mT20 h100">
    <div *ngIf="loading" class="spinner"></div>
    <ng-container *ngIf="step == 1">
        <div class="flex fColumn w100 fCenter gap20" [ngClass]="{ 'mT80': !isSuggested, 'mT40': !!isSuggested }">
            <h3 *ngIf="isSuggested && !!fidelityCard.discount_on_first_user_reservation && !!fidelityCard.fa_discount_amount" class="w100 textCenter f1 fw6">Sconto valido solo se prenoti con l'app.</h3>
            <app-discount-preview 
                class="w100"
                *ngIf="isSuggested && !!fidelityCard.discount_on_first_user_reservation && !!fidelityCard.fa_discount_amount" 
                [discount]="{
                    business_name: fidelityCard.business_name,
                    discount_minimum_expense: fidelityCard.fa_discount_minimum_expense,
                    discount_amount: fidelityCard.fa_discount_amount,
                    discount_type: fidelityCard.fa_discount_type,
                    slogan: fidelityCard.fa_slogan
                }"
            >
            </app-discount-preview>

            <div *ngIf="isSuggested && !!fidelityCard.discount_on_first_user_reservation && !!fidelityCard.fa_discount_amount" class="spacer"></div>

            <button *ngIf="!isSuggested && discountPresent" class="f1 br10 btn1 bgrR boxSha pad15 brN w100"
                (click)="clickSconto()">{{ (tr?.discount || 'MOSTRA SCONTO') }}</button>
            <small *ngIf="!isSuggested && !discountPresent">clicca su "timbra carta" e mostra il QR alla cassa.</small>
            <button *ngIf="!isSuggested && !discountPresent" class="f1 br10 btn1 bgrBl boxSha pad15 brN w100" (click)="clickSignCard()">{{ (tr?.timbra || 'TIMBRA CARTA') }}</button>

            <button class="f1 br10 btn1 bgrBl boxSha pad15 brN w100" (click)="goMenu()">LEGGI IL MENU E ORDINA</button>

            <small *ngIf="isSuggested && !!fidelityCard?.business_expenses_amount && !fidelityCard?.hasCard && !!fidelityCard?.card_description" class="textCenter">{{fidelityCard?.card_description}}</small>
            <button *ngIf="isSuggested && !!fidelityCard?.business_expenses_amount && !fidelityCard?.hasCard" class="f1 br10 btn1 bgrBl boxSha pad15 brN w100" (click)="addFidelityCard()">{{ (tr?.newCard || 'AGGIUNGI CARTA FEDELTÀ') }}</button>
            <small *ngIf="isSuggested && !!fidelityCard?.business_expenses_amount && !!fidelityCard?.hasCard">hai già la carta fedeltà di questo locale.</small>
            <div *ngIf="(!fidelityCard?.hasCard && isSuggested) || !isSuggested" class="spacer"></div>
            <button *ngIf="!!fidelityCard?.accept_reservations" class="f1 br10 btn1 bgrG boxSha pad15 brN w100" (click)="step = 3">PRENOTA</button>
            <button *ngIf="!isSuggested" class="f1 br10 btn1 bgrG boxSha pad15 brN w100" (click)="goReview()">SCRIVI RECENSIONE</button>
            
            <button *ngIf="fidelityCard?.business_phone_number" class="f1 br10 btn1 bgrW boxSha pad15 brN w100" (click)="call(fidelityCard?.business_phone_number)"><i class="fa-solid fa-phone"></i>&nbsp;{{ fidelityCard?.business_phone_number }}</button>
            <button *ngIf="fidelityCard?.business_second_phone_number" class="f1 br10 btn1 bgrW boxSha pad15 brN w100" (click)="call(fidelityCard?.business_second_phone_number)"><i class="fa-solid fa-phone"></i>&nbsp;{{ fidelityCard?.business_second_phone_number }}</button>
            
            <button *ngIf="fidelityCard?.business_menu_link" class="f1 br10 btn1 bgrW boxSha pad15 brN w100" (click)="open(fidelityCard?.business_menu_link)"><i class="fa-solid fa-book-open"></i>&nbsp;Menu / Prezzi</button>
            <button *ngIf="fidelityCard?.business_website" class="f1 br10 btn1 bgrW boxSha pad15 brN w100" (click)="web()"><i class="fa-solid fa-globe"></i>&nbsp;Sito Web</button>
            <button *ngIf="fidelityCard?.business_address" class="f1 br10 btn1 bgrW boxSha pad15 brN w100" (click)="map()"><i class="fa-solid fa-location-dot"></i>&nbsp;{{ fidelityCard?.business_address }}</button>
            <button *ngIf="fidelityCard?.business_instagram_page" class="f1 br10 btn1 bgrW boxSha pad15 brN w100" (click)="open(fidelityCard?.business_instagram_page)"><i class="fa-brands fa-instagram"></i>&nbsp;Pagina Instagram</button>
        </div>
    </ng-container>

    <ng-container *ngIf="step == 2">
        <div class="flex fColumn fCenter gap10 mT80">
            <h3 class="w100 textCenter f1 fw6">Codice Carta: {{fidelityCard?.id}}</h3>
            <div class="flex fRow fCenter bgrG pad20 br10 boxSha">
                <qrcode class="br10" [qrdata]="getQrRaw()" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            <h3 class="fw600" class="textCenter">{{ (tr?.cassa || 'Mostra il QR alla cassa') }}</h3>
            <button class="f1 br10 btn1 bgrW boxSha pad15 brN mT20" (click)="close.emit()">FATTO</button>
            <small class="pad20 mT20 textCenter" *ngIf="fidelityCard?.business_card_description">{{fidelityCard?.business_card_description}}</small>
        </div>
    </ng-container>

    <ng-container *ngIf="step == 3">
        <form class="flex fColumn gap20" [formGroup]="newRes">
            <div>
                <h2 class="fw7" for="appt">Prenotazione</h2>
                <small>{{ fidelityCard?.business_name }}</small>
            </div>
            <input formControlName="name" class="indroButton f1 br10 w100" type="text" placeholder="Nome">
            <input formControlName="peopleAmount" class="indroButton f1 br10 w100" type="number"
                pattern="[0-9]*" min="1" step="1" placeholder="Quante persone">
            <div class="flex fRow aCenter gap10 jBet">
                <input formControlName="userDate" [min]="today" class="indroButton f1 br10 w100 waN" id="dateInp" lang="it-IT" type="date" 
                placeholder="Data">

                <input formControlName="userTime" lang="it-IT" class="indroButton f1 br10 w100 waN" type="time" id="appt" name="appt"
                    min="06:00" max="23:30" placeholder="20:00" required>
            </div>
            <input formControlName="phoneNumber" class="indroButton f1 br10 w100" type="tel" placeholder="+393444444">
            <input *ngIf="!fidelityCard?.business_type" formControlName="note" maxlength="50" class="indroButton f1 br10 w100" type="text"
                placeholder="Note oppure specifica il servizio che vuoi...">
            <input *ngIf="fidelityCard?.business_type == 'food'" formControlName="note" maxlength="50" class="indroButton f1 br10 w100" type="text"
                placeholder="Note per il locale">
            <input *ngIf="fidelityCard?.business_type == 'service'" formControlName="note" maxlength="50" class="indroButton f1 br10 w100" type="text"
                placeholder="Cosa vuoi fare?">
            <button [disabled]="newRes.invalid" class="f1 br10 btn1 bgrGr boxSha pad15 brN" type="button"
                (click)="addReservation()">INVIA</button>
            <button class="f1 br10 btn1 bgrW boxSha pad15 brN" (click)="step = 1">ANNULLA</button>
        </form>
    </ng-container>

    <ng-container *ngIf="reservationId && step == 4">
        <div class="flex fColumn gap30">
            <ng-container *ngIf="!(reservation$ | async)">
                <ng-container *ngIf="!intervalEnded">
                    <h2 class="fw7">In attesa di una risposta dal ristorante...</h2>
                    <div class="spinner"></div>
                    <button *ngIf="fidelityCard?.business_phone_number" class="f1 br10 btn1 bgrGr boxSha pad15 brN" (click)="call(fidelityCard?.business_phone_number)"><i class="fa-solid fa-phone"></i>&nbsp;{{ fidelityCard?.business_phone_number }}</button>
                    <h3 class="fw4">
                        Se vuoi puoi lasciare questa pagina e controllare ogni tanto lo stato della prenotazione dalla pagina delle tue prenotazioni (nel menu in basso la penultima icona).
                    </h3>
                    <h3 class="fw4">
                        In ogni caso ti mandiamo una notifica appena la prenotazione verrà gestita dal locale!
                    </h3>
                </ng-container>
                <ng-container *ngIf="!!intervalEnded">
                    <h2 class="fw7">È passato un po di tempo, chiama il locale per informazioni.</h2>
                    <button class="f1 br10 btn1 bgrW boxSha pad15 brN" (click)="startingCurrentReservation()">aggiorna</button>
                    <button *ngIf="fidelityCard?.business_phone_number" class="f1 br10 btn1 bgrGr boxSha pad15 brN" (click)="call(fidelityCard?.business_phone_number)"><i class="fa-solid fa-phone"></i>&nbsp;{{ fidelityCard?.business_phone_number }}</button>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="(reservation$ | async) as res">
                <h2 *ngIf="res.status === 'accepted'" class="fw7">Prenotazione Confermata!</h2>
                <ng-container *ngIf="res.status === 'declined'">
                    <h2 *ngIf="!res.sub_status" class="fw7">Prenotazione Rifiutata.</h2>
                    <h2 *ngIf="res.sub_status === 'business_canceled'" class="fw7">Prenotazione Cancellata dal Locale.</h2>
                    <h3 *ngIf="res.business_message"><strong>Messaggio dal locale:</strong> {{ res.business_message }}</h3>
                    <h2 *ngIf="res.sub_status === 'full'" class="fw7">Prenotazione Rifiutata. Il Locale è pieno!.</h2>
                    <h2 *ngIf="res.sub_status === 'new_date'" class="fw7">Per questo orario la prenotazione è stata
                        respinta. Il Locale vi invita a riprovare una prenotazione per le {{ res.business_time |
                        date:'H:mm':'+0000' }}.</h2>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>


    <ng-container *ngIf="step == 5">
        <div class="flex fColumn gap30">
            <ng-container *ngIf="!loading">
                <ng-container *ngIf="!(referral$ | async)">
                    <h3>Genera un codice da condividere sui social o agli amici, ogni volta che lo usano per la prima volta, tu guadagni uno sconto in questo ristorante!</h3>
                    <button class="f1 br10 btn1 bgrG boxSha pad15 brN" (click)="generate()">GENERA CODICE</button>
                    <button class="f1 br10 btn1 bgrW boxSha pad15 brN" (click)="step = 1">ANNULLA</button>
                </ng-container>
                <ng-container *ngIf="(referral$ | async) as referral">
                    <div class="flex fColumn gap5 w100">
                        <h3>Condividi sui social o agli amici il tuo codice, ogni volta viene usato, tu guadagni uno sconto in questo ristorante!</h3>
                        <h5 class="fw4">Mandalo per whatsapp, o fai un post su Instagram e mettilo nella bio/descrizione del post! Indica che va riscattato con l'app Comeback!.</h5>
                    </div>
                    <div class="flex fColumn gap10 w100">
                        <input class="indroButton pad15 textCenter fw600 br10" style="font-size: 23px;" type="text" [value]="referral.uuid" disabled>
                        <button class="f1 br10 btn1 bgrGr boxSha pad15 brN" (click)="copy()">COPIA</button>
                        <button class="f1 br10 btn1 bgrW boxSha pad15 brN" (click)="step = 1">ANNULLA</button>
                    </div>
                </ng-container>
            </ng-container>
            <div *ngIf="loading" class="spinner"></div>
        </div>
    </ng-container>
</div> -->





<div class="flex fColumn h100 w100 bgrW">

    <ng-container *ngIf="step == 1">
        <img class="w100" style="object-fit: cover;" height="200"
        [src]="fidelityCard?.business_image_url || 'https://img.freepik.com/free-photo/abstract-blur-food-truck_1339-3329.jpg?w=1380&t=st=1669487530~exp=1669488130~hmac=2193ebdc36a344007af2493f07c4c5f27b651b20620dd570eb60ece2e370759f'"
            alt="">
        <div *ngIf="!!fidelityCard?.business_can_reserv_with_discount" class="pad20 padY20 flex fColumn w100 bgrABG gap10">
            <div class="flex fRow aCenter jBet">
                <h2 class="fw7">Prenota con lo sconto!</h2>
                <!-- <img width="20" src="./../../assets/CBLOGOFACEWHITE.png" alt="logo"> -->
                <!-- <i class="fa-solid fa-trophy"></i> -->
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                <!-- <i class="fa-solid fa-utensils"></i> -->
                <!-- <i class="fa-solid fa-bell-concierge"></i> -->
            </div>
            <h4 *ngIf="!canDiscountEnded" class="fw4">Numero limitato di prenotazioni con sconto, <span class="fw6" (click)="step = 3.0" style="display: block;">prenota ora con l'app&nbsp;<i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></span></h4>
            <h4 *ngIf="!!canDiscountEnded" class="fw4">Ops prenotazioni scontate terminate, <span class="fw6" (click)="step = 3.0" style="display: block;">prenota ora senza sconto&nbsp;<i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></span></h4>
        </div>
        <div class="flex fColumn h100 w100 bgrW padX20">
            <div *ngIf="!isSuggested && !discountPresent && !fidelityCardEvent && !noPointsAdded" class="flex fColumn bgrW padY20 gap20 br1BOT">
                <h2 class="fw5">La tua carta cliente</h2>
                <!-- <h3 class="fw4"><span class="fw6 txtU" (click)="showQRMsg()">Per ottenere punti e sconti</span>, mostra questo qr in cassa per pagare, o al personale del locale.</h3> -->
                <!-- <h3 class="fw4">
                    <span class="fw5" (click)="showQRMsg()">
                        <span class="txtU">Inquadra il qr del tavolo&nbsp;<i class="fa-solid fa-hand-pointer" style="transform: rotate(-55deg);"></i></span>
                    </span>
                , oppure usa il tuo qr sotto in cassa, per avere punti e sconti.
                </h3> -->

                <h3 class="fw4" *ngIf="!fidelityCard.recentlyScanned">
                    <span class="fw5 txtU" (click)="showQRMsg()">
                        <!-- Per ottenere punti e sconti  -->
                        {{ (fidelityCard.business_card_geo_msg || 'Clicca qui per avere il punto') }}&nbsp;<i class="fa-solid fa-hand-pointer" style="transform: rotate(-55deg);"></i>
                    </span>
                , {{ (fidelityCard.business_card_qr_msg || 'oppure mostra il tuo qr sotto in cassa, per avere punti e sconti.') }}
                </h3>

                <h3 class="fw4" *ngIf="!!fidelityCard.recentlyScanned">
                    <span class="fw5">Carta timbrata poco tempo fa</span>, se vuoi ulteriori punti in base al conto, mostra il tuo QR in cassa per pagare :)
                </h3>

                <div class="flex fColumn fCenter bgrW pad10 br10 br1ALL">
                    <qrcode class="br10" colorDark="#212121" [qrdata]="getQrRaw()" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
                    <small style="margin-top: -13px; z-index: 2;">Codice carta: {{ fidelityCard.id }}</small>
                </div>
                <div class="cP flex fColumn gap10 mB10 pRel">
                    <h4 class="fw5">
                        Ti mancano
                        {{ (fidelityCard?.business_expenses_amount - (fidelityCard?.user_expenses_amount -
                        fidelityCard?.discount_countdown)) - 1 }}
                        punti per lo sconto.
                    </h4>
                    <div class="flex fRow aCenter fWrap" style="gap: 7px;">
                        <div *ngFor="let slot of fidelityCard?.expenses_array; let idx = index; let last = last;"
                            class="miniBadge bgrW flex fRow fCenter" [ngClass]="{
                                    'bgrAB': (!last || !discountPresent) && idx < fidelityCard?.user_expenses_amount - (fidelityCard?.discount_countdown),
                                    'brW0': ((!last || !discountPresent) && idx < fidelityCard?.user_expenses_amount - (fidelityCard?.discount_countdown))
                                }">
                        </div>
                        <span *ngIf="fidelityCard?.expenses_array_too_long">...</span>
                        <i style="font-size: 17px; margin-bottom: 1px;" class="fa-solid fa-gift op8"></i>
                    </div>
                    <h5 *ngIf="fidelityCard?.last_scan" class="fw3">
                        Ultimo punto {{ getDate(fidelityCard.last_scan) }}
                    </h5>
                    <h4 *ngIf="fidelityCard.business_card_show_points_cta" class="txtU fw5" (click)="showQRMsg()">{{ (fidelityCard.business_card_points_cta) || 'Aggiungi punto' }}<i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h4>
                </div>
            </div>

            <div *ngIf="!isSuggested && !discountPresent && (!!fidelityCardEvent || !!noPointsAdded)" class="flex fColumn bgrW padY20 gap20 br1BOT">
                <h2 *ngIf="!!fidelityCardEvent" class="fw5">Carta cliente timbrata</h2>
                <h2 *ngIf="!!noPointsAdded" class="fw5">Carta cliente già timbrata</h2>
                <h4 *ngIf="fidelityCardEvent && fidelityCardEvent == 'geo'" class="fw4">
                    <span class="fw6 txtU">Carta timbrata in automatico grazie alla tua posizione</span>, se vuoi ulteriori punti in base al conto, mostra il tuo QR in cassa per pagare :)
                </h4>
                <h4 *ngIf="fidelityCardEvent && fidelityCardEvent == 'cassa'" class="fw4">
                    <span class="fw6 txtU">I tuoi punti sono stati aggiornati</span>, grazie e ci vediamo la prossima! :)
                </h4>
                <h4 *ngIf="!!noPointsAdded" class="fw4"><span class="fw6 txtU">Carta già timbrata poco tempo fa oggi</span>, se vuoi ulteriori punti in base al conto, mostra il tuo QR in cassa per pagare :)</h4>
                <h4 class="txtU fw5 mB10" *ngIf="fidelityCardEvent != 'cassa'" (click)="close.emit()">Ok capito, vai al tuo qr <i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h4>
                <h4 class="txtU fw5 mB10" *ngIf="fidelityCardEvent == 'cassa'" (click)="close.emit()">Ok grazie <i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h4>
            </div>
    
            <div *ngIf="!isSuggested && !!discountPresent && fidelityCard.user_discount_id && !fidelityCardEvent" class="flex fColumn bgrW padY20 gap20 br1BOT">
                <h2 *ngIf="!fidelityCard.user_discount.validFromTomorrow" class="fw5">Ecco il tuo sconto</h2>
                <h2 *ngIf="!!fidelityCard.user_discount.validFromTomorrow" class="fw5">Sconto valido da domani</h2>
                <h4 *ngIf="!fidelityCard.user_discount.validFromTomorrow" class="fw4"><span class="fw6">Per usare lo sconto</span>, mostra questo qr in cassa per pagare, o al personale del locale.</h4>
                <h4 *ngIf="!!fidelityCard.user_discount.validFromTomorrow" class="fw4"><span class="fw6">Da domani</span>, qui sarà visibile il tuo sconto da mostrare in cassa :)</h4>

                <ng-container *ngIf="!fidelityCard.user_discount.validFromTomorrow">
                    <div class="flex fColumn fCenter bgrW pad10 br10 br1ALL">
                        <qrcode class="br10" colorDark="#212121" [qrdata]="getQrDiscRaw()" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
                        <small style="margin-top: -13px; z-index: 2;">Codice sconto: {{ fidelityCard.user_discount.id }}</small>
                    </div>
                    <h4 class="fw4 mB10" *ngIf="fidelityCard.user_discount?.discount_amount">Sconto {{ fidelityCard.user_discount?.discount_type == 'PERC' ? 'del' : 'di' }} {{fidelityCard.user_discount?.discount_amount}}{{ fidelityCard.user_discount?.discount_type == 'PERC' ? '%' : '€' }}, minimo di spesa di {{fidelityCard.user_discount?.discount_minimum_expense}}€.</h4>
                    <h4 class="fw4 mB10" *ngIf="!fidelityCard.user_discount?.discount_amount">
                        {{fidelityCard.user_discount?.slogan || 'PASTO GRATIS!'}}
                    </h4>
                </ng-container>
            </div>

            <div *ngIf="!isSuggested && !!discountPresent && fidelityCard.user_discount_id && !!fidelityCardEvent" class="flex fColumn bgrW padY20 gap20 br1BOT">
                <h2 class="fw5">Sconto applicato con successo!</h2>
                <h4 class="fw4"><span class="fw6 txtU">I tuoi punti sono stati resettati</span>, ci vediamo la prossima! :)</h4>
                <h4 class="txtU fw5 mB10" (click)="close.emit()">Ok fatto <i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h4>
            </div>
    
            <div *ngIf="isSuggested && !fidelityCard?.hasCard" class="flex fColumn bgrW padY20 gap20 br1BOT">
                <h2 class="fw5">Nuova carta cliente</h2>
                <ul style="padding-inline-start: 20px; margin-block-start: 0; margin-block-end: 0;">
                    <li class="ffG">
                        <span style="text-decoration: underline; font-weight: bold;" *ngIf="!fidelityCard.slogan">
                            Sconto {{ fidelityCard?.discount_type == 'PERC' ? 'del' : 'di' }} {{fidelityCard?.discount_amount}}{{ fidelityCard?.discount_type == 'PERC' ? '%' : '€' }}
                        </span> 
                        <span style="text-decoration: underline; font-weight: bold;" *ngIf="fidelityCard.slogan">
                            {{ fidelityCard.slogan }}
                        </span> 
                        ogni {{ fidelityCard?.business_expenses_amount - 1 }} {{ fidelityCard?.business_id == 11 ? 'volte che vieni.' : 'punti.' }}</li>
                    <li class="ffG">Prenotazioni <span style="text-decoration: underline; font-weight: bold;">prioritarie!</span></li>
                    <li class="ffG" *ngIf="fidelityCard.business_menu_link">Menu digitale, anche da casa.</li>
                    <li class="ffG">Notifiche Eventi e Promozioni.</li>
                    <li class="ffG">Recensioni/consigli anonimi.</li>
                    <li class="ffG">La Carta è gratis e funziona con l'app.</li>
                </ul>
                <button class="w100 br10 bgrAB pad10 brN mB10" (click)="addFidelityCard()">
                    <h2 class="fw6">Prendi Carta&nbsp;<i class="fa-solid fa-hand-pointer" style="transform: rotate(-55deg);"></i></h2>
                </button>
            </div>
    
            <div class="flex fColumn bgrW padY30 gap10 br1BOT">
                <h2 class="fw8 crARL">{{fidelityCard?.business_name}}</h2>
                <h4 class="fw5 mB10">{{fidelityCard?.business_description || 'Descrizione del locale non disponibile.'}} <span *ngIf="!!fidelityCard?.accept_reservations" class="txtU" (click)="reservMsg()">Prossima volta prenota dall'app!</span></h4>
                <ng-container *ngIf="fidelityCard?.business_menu_link">
                    <button *ngIf="(!isSuggested && !!discountPresent && fidelityCard.user_discount_id) || (!isSuggested && !discountPresent) else normalText" [disabled]="fidelityCard?.menu_disabled" class="w100 br10 bgrW pad10 br2ALL" (click)="menu(fidelityCard?.business_menu_link)">
                        <h2 class="fw5">Leggi il menu</h2>
                    </button>
                    <ng-template #normalText>
                        <h4 class="txtU fw5" (click)="!fidelityCard?.menu_disabled && menu(fidelityCard?.business_menu_link)">Leggi il menu <i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h4>
                    </ng-template>
                </ng-container>
            </div>
    
            <div class="flex fColumn bgrW padY30 gap20 br1BOT">
                <h3 class="fw5">Contatti & Link</h3>
                <div class="grid col2 gap20">
                    <div *ngIf="fidelityCard?.business_phone_number" (click)="call(fidelityCard?.business_phone_number)" class="flex fColumn gap10 pad20 br10 br1ALL">
                        <h3><i class="fa-solid fa-phone"></i></h3>
                        <h4 class="fw4 lbAw">{{ fidelityCard?.business_phone_number }}</h4>
                    </div>
                    <div *ngIf="fidelityCard?.business_second_phone_number" (click)="call(fidelityCard?.business_second_phone_number)" class="flex fColumn gap10 pad20 br10 br1ALL">
                        <h3><i class="fa-solid fa-phone"></i></h3>
                        <h4 class="fw4 lbAw">{{ fidelityCard?.business_second_phone_number }}</h4>
                    </div>
                    <div *ngIf="fidelityCard?.business_instagram_page" (click)="open(fidelityCard?.business_instagram_page)" class="flex fColumn gap10 pad20 br10 br1ALL">
                        <h3><i class="fa-brands fa-instagram"></i></h3>
                        <h4 class="fw4 lbAw">Instagram</h4>
                    </div>
                    <div *ngIf="fidelityCard?.business_website" (click)="web()" class="flex fColumn gap10 pad20 br10 br1ALL">
                        <h3><i class="fa-solid fa-globe"></i></h3>
                        <h4 class="fw4 lbAw">{{ fidelityCard?.business_website }}</h4>
                    </div>
                </div>
            </div>
    
            <div *ngIf="fidelityCard?.business_address" class="flex fColumn bgrW padY30 br1BOT gap20">
                <h3 class="fw5">Dove siamo</h3>
                <div class="flex pRel br10 oHidden w100 brALL" style="height: 200px;">
                    <iframe class="br10 oHidden w100" height="200" style="pointer-events: none;" [src]="getGoogleMapsIfraeLink(fidelityCard?.business_address)" frameborder="0"></iframe>
                    <div class="flex pAbs pTop0 pBot0 pLeft0 pRight0 br10 oHidden w100" style="height: 200px; background-color: transparent; z-index: 1;" (click)="openMaps(fidelityCard?.business_address)">
                    </div>
                </div>
                <h4 class="fw4" (click)="openMaps(fidelityCard?.business_address)">{{ fidelityCard?.business_address }}</h4>
            </div>
    
            <div class="flex fColumn bgrW padY30 gap20 mB80">
                <button *ngIf="!isSuggested" class="w100 br10 bgrW pad10 br2ALL mB10" [disabled]="fidelityCard?.reserv_disabled" (click)="step = 4">
                    <h2 class="fw5">Scrivi recensione</h2>
                </button>
                <div class="flex fColumn">
                    <h3 class="fw5">Come funziona la carta cliente</h3>
                    <small>Di primo livello</small>
                </div>
                <h4 class="fw4">{{fidelityCard?.business_card_description || 'Istruzioni non disponibili.' }}</h4>
            </div>
        </div>

        <div *ngIf="!!fidelityCard?.accept_reservations" class="pAbs pBot0 pLeft0 pRight0 flex fRow aCenter jBet gap15 pad15 padX20 br1TOP bgrW" style="z-index: 2;">
            <h4 *ngIf="!fidelityCard?.business_can_reserv_with_discount || !!canDiscountEnded" class="fw4">Prenota un tavolo <span style="display: block;">senza chiamare &nbsp;<i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></span></h4>
            <h4 *ngIf="!!fidelityCard?.business_can_reserv_with_discount && !canDiscountEnded" class="fw4">Prenota un tavolo <span class="fw6" (click)="step = 3.0" style="display: block;">con lo sconto &nbsp;<i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></span></h4>
            <!-- <button class="br10 bgrBl pad10 padX30 brN" (click)="step = 3">
                <h2 class="fw6">Prenota</h2>
            </button> -->
            <button *ngIf="(!isSuggested && !!discountPresent && fidelityCard.user_discount_id) || (!isSuggested && !discountPresent) else normalPre" [disabled]="fidelityCard?.reserv_disabled" class="br10 bgrAB pad10 padX20 brN" (click)="step = !!fidelityCard?.business_can_reserv_with_discount ? 3.0 : 3.1">
                <h2 class="fw6">Prenota ora</h2>
            </button>
            <ng-template #normalPre>
                <button [disabled]="fidelityCard?.reserv_disabled" class="br10 bgrBl pad10 padX20 brN" (click)="step = !!fidelityCard?.business_can_reserv_with_discount ? 3.0 : 3.1">
                    <h2 class="fw6">Prenota ora</h2>
                </button>
            </ng-template>
        </div>

    </ng-container>


    <ng-container *ngIf="step >= 3 && step < 4">
        <form *ngIf="step == 3.1" class="pAbs pTop0 pLeft0 pRight0 pBot0 pad20 ffG" [formGroup]="newRes" style="padding-top: 80px;">
            <div class="flex fColumn gap20">
                <div>
                    <h2 *ngIf="!fromDiscRes" class="fw6" for="appt">Prenotazione</h2>
                    <h2 *ngIf="!!fromDiscRes" class="fw6" for="appt">Per <span style="text-transform: capitalize;">{{ getDate(discResForm['controls']['userDate'].value, true) }}</span></h2>
                    <small class="ffG">{{ fidelityCard?.business_name }}</small>
                </div>
                <input formControlName="name" class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Nome">
                <input formControlName="peopleAmount" class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG" type="number" pattern="[0-9]*" min="1"
                    step="1" placeholder="Quante persone">
                <div class="flex fRow aCenter gap10 jBet">
                    <input *ngIf="!fromDiscRes" formControlName="userDate" [min]="today" class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG waN ffG" id="dateInp" lang="it-IT"
                        type="date" placeholder="Data">
            
                    <input formControlName="userTime" lang="it-IT" class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG waN ffG" type="time" id="appt"
                        name="appt" min="06:00" max="23:30" placeholder="20:00" required>
                </div>
                <input formControlName="phoneNumber" class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG" type="tel" placeholder="+393444444">
                <input *ngIf="!fidelityCard?.business_type" formControlName="note" maxlength="50" class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG"
                    type="text" placeholder="Note oppure specifica il servizio che vuoi...">
                <input *ngIf="fidelityCard?.business_type == 'food'" formControlName="note" maxlength="50"
                    class="if1 br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Note per il locale">
                <input *ngIf="fidelityCard?.business_type == 'service'" formControlName="note" maxlength="50"
                    class="f1 br10 w100 br1ALL bgrW pad15 fw5 ffG" type="text" placeholder="Cosa vuoi fare?">
                <div class="flex fColumn gap5">
                    <button [disabled]="newRes.invalid" class="w100 f1 br10 bgrABG pad10 padX30 brN ffG" type="button"
                        (click)="addReservation()"><h2 class="fw6">{{ !fromDiscRes ? 'Invia' : 'Prenota' }}</h2></button>
                    <button class="w100 f1 br10 bgrW pad10 padX30 brN ffG" (click)="goBackFromRes()" type="button"><h2 class="fw3">annulla</h2></button>
                </div>
            </div>
        </form>

        <div *ngIf="step == 3.0" class="pAbs pTop0 pLeft0 pRight0 pBot0 pad20 ffG oAuto" style="padding-top: 80px;">
            <div class="flex fColumn gap40">
                <div *ngIf="loading" class="flex fColumn gap10">
                    <h2 class="fw6" for="appt">Caricamento...</h2>
                </div>
                <ng-container *ngIf="!loading">
                <div class="flex fColumn gap10">
                    <h2 class="fw6" for="appt">Prenotazione</h2>
                    <h3 class="fw4">Seleziona il giorno e clicca avanti.</h3>
                </div>
                <form class="flex fColumn gap20" [formGroup]="discResForm">
                    <div *ngFor="let date of availableDates" class="w100 flex fRow jBet aCenter pad20 br10 br1ALL" [ngClass]="{ 'op7': !!date?.close, 'boxSha bgrABL brCT fw6': discResForm['controls']['userDate'].value == date.date }" (click)="setUserDate(date)">
                        <div class="flex fRow gap10 aCenter">
                            <div class="br1ALL bgrW brW3" style="width: 18px; height: 18px; border-radius: 21px;" [ngClass]="{ 'bgrABL brCW brW5': discResForm['controls']['userDate'].value == date.date }">
                            </div>
                            <h3 class="fw4" [ngClass]="{ 'fw6': discResForm['controls']['userDate'].value == date.date }" style="text-transform: capitalize;">{{ date.dateParsed }}</h3>
                        </div>
                        <div *ngIf="!!date?.discount && !date?.close" class="flex fRow gap5 aCenter" style="max-width: 50%;">
                            <h4 *ngIf="!date?.discount?.slogan && !!date?.discount?.amount" class="fw5 fsI">Sconto {{ date?.discount?.type == 'PERC' ? 'del' : 'di' }} {{date?.discount?.amount}}{{ date?.discount?.type == 'PERC' ? '%' : '€' }}</h4>
                            <h4 *ngIf="!!date?.discount?.slogan && !date?.discount?.amount" class="fw5 fsI" style="text-align: right;">{{date?.discount?.slogan}}</h4>
                        </div>
                        <div *ngIf="!!date?.close" class="flex fRow gap5 aCenter">
                            <h4 class="fw3">Siamo chiusi</h4>
                        </div>
                        <div *ngIf="!date?.discount && !date?.close" class="flex fRow gap5 aCenter">
                            <h4 class="fw3">Senza sconto</h4>
                        </div>
                    </div>
                    <ng-container *ngIf="!!showMoreDates">
                        <div *ngFor="let date of moreDates" class="w100 flex fRow jBet aCenter pad20 br10 br1ALL" [ngClass]="{ 'op7': !!date?.close, 'boxSha bgrABL brCT fw6': discResForm['controls']['userDate'].value == date.date }" (click)="setUserDate(date)">
                            <div class="flex fRow gap10 aCenter">
                                <div class="br1ALL bgrW brW3" style="width: 18px; height: 18px; border-radius: 21px;" [ngClass]="{ 'bgrABL brCW brW5': discResForm['controls']['userDate'].value == date.date }">
                                </div>
                                <h3 class="fw4" [ngClass]="{ 'fw6': discResForm['controls']['userDate'].value == date.date }" style="text-transform: capitalize;">{{ date.dateParsed }}</h3>
                            </div>
                            <div *ngIf="!!date?.discount && !date?.close" class="flex fRow gap5 aCenter" style="max-width: 50%;">
                                <h4 *ngIf="!date?.discount?.slogan && !!date?.discount?.amount" class="fw5 fsI">Sconto {{ date?.discount?.type == 'PERC' ? 'del' : 'di' }} {{date?.discount?.amount}}{{ date?.discount?.type == 'PERC' ? '%' : '€' }}</h4>
                                <h4 *ngIf="!!date?.discount?.slogan && !date?.discount?.amount" class="fw5 fsI" style="text-align: right;">{{date?.discount?.slogan}}</h4>
                            </div>
                            <div *ngIf="!!date?.close" class="flex fRow gap5 aCenter">
                                <h4 class="fw3">Siamo chiusi</h4>
                            </div>
                            <div *ngIf="!date?.discount && !date?.close" class="flex fRow gap5 aCenter">
                                <h4 class="fw3">Senza sconto</h4>
                            </div>
                        </div>
                    </ng-container>
                    <h4 *ngIf="!showMoreDates" (click)="showMoreDates = true" class="txtU fw4 textCenter op7"><i class="fa-solid fa-chevron-down"></i></h4>
                    <!-- <h4 *ngIf="!!showMoreDates" (click)="showMoreDates = false" class="txtU fw4 textCenter op7"><i class="fa-solid fa-chevron-up"></i></h4> -->
                    
                    <div class="flex fColumn gap5">
                        <button [disabled]="discResForm.invalid" class="w100 f1 br10 bgrABG pad10 padX30 brN ffG" (click)="goToRes()" type="button"><h2 class="fw6">Avanti&nbsp;<i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h2></button>
                        <button class="w100 f1 br10 bgrW pad10 padX30 brN ffG" (click)="step = 1" type="button"><h2 class="fw3">annulla</h2></button>
                    </div>
                </form>

                <!-- <div class="flex fColumn gap10">
                    <h4 class="fw4">ErYue mette a disposizione un numero limitato di prenotazioni con sconto, se disponibile, lo sconto viene indicato sul giorno desiderato.</h4>
                    <h4 (click)="forceNormalRes()" class="fw5">Voglio prenotare senza sconto <i class="fa-solid fa-arrow-right" style="font-size: 12px;"></i></h4>
                </div> -->
                </ng-container>
            </div>
        </div>

        <!-- <div class="pAbs pBot0 pLeft0 pRight0 flex fRow aCenter jBet gap15 pad15 padX20 br1TOP bgrW" style="z-index: 2;">
            <h4 class="fw4">Clicca un giorno disponibile</h4>
            <button [disabled]="fidelityCard?.reserv_disabled" class="br10 bgrBl pad10 padX20 brN">
                <h2 class="fw6">Avanti</h2>
            </button>
        </div> -->
    </ng-container>


    <ng-container *ngIf="step == 4">
        <form class="pAbs pTop0 pLeft0 pRight0 pBot0 pad20 ffG" [formGroup]="reviewForm" style="padding-top: 80px;">
            <div class="flex fColumn gap20">
                <div>
                    <h2 class="fw6" for="appt">Recensione</h2>
                    <small class="ffG">{{ fidelityCard?.business_name }}</small>
                </div>
                <select id="ratingSelect" formControlName="rating" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" style="font-size: 17px; height: 42px;">
                    <option [value]="null" selected disabled>-- Seleziona Stelle --</option>
                    <option value="1">1 Stella</option>
                    <option value="2">2 Stelle</option>
                    <option value="3">3 Stelle</option>
                    <option value="4">4 Stelle</option>
                    <option value="5">5 Stelle</option>
                </select>
                <textarea rows="5" formControlName="text" class="br10 w100 br1ALL bgrW pad15 fw5 ffG" id="review" type="text" placeholder="Mi sono trovato..."></textarea>
                <button [disabled]="reviewForm.invalid" class="w100 br10 bgrBl pad10 padX30 brN ffG" type="button" (click)="sendReview()"><h2 class="fw6">Invia</h2></button>
                <button class="w100 br10 bgrW pad10 padX30 br2ALL ffG" (click)="step = 1"><h2 class="fw4 crBl">annulla</h2></button>
            </div>
        </form>
    </ng-container>
</div>










