// .qrCode {
//     img {
//         width: 200px;
//         height: 200px;
//     }
//     p {
//         color: green;
//         font-size: 21px;
//         font-weight: 600;
//     }
// }
// .infos {
//     font-size: 18px;
//     font-weight: 300;
//     padding-bottom: 20px;
//     border-bottom: 1px solid lightgrey;

//     .incName {
//         font-weight: 600;
//     }
// }
// .rules {
//     font-size: 18px;
//     font-weight: 300;
// }
label {
    font-size: 21px;
}

li {
    margin-bottom: 7px;
    font-size: 17px;
}
.miniBadge {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    // border: solid 1px #dddddd;
    border: solid 1px rgb(227 28 94 / 35%);
}
.brW0 {
    border-width: 0;
}

input, select, textarea {
    outline-color: #212121;
    font-size: 17px;
}