<div class="flex fColumn fCenter gap20 pad10 padY20 w100">
    <div *ngIf="!!loading" class="spinner mAuto"></div>

    <div class="flex fColumn pad20 bgrG gap10" *ngIf="!!(appService.showHack | async)">
        <h3 class="fw7">Ti diamo 50€ per ogni locale che convinci a usare COMEBACK!</h3>
        <p class="fw3">Il Locale iscrivendosi a Comeback con il tuo codice, avrà il primo mese come prova gratuita del servizio, senza costi di disdetta. <strong>Se il locale continua</strong> a usare Comeback per almeno un altro mese, ti accreditiamo 50€.
            <strong>Se convinci 10 locali, ti becchi 500€.</strong>
        </p>
        <p style="text-decoration: underline;" (click)="openHack()">come iniziare</p>
    </div>

    <!-- <form *ngIf="!loading" class="flex fColumn gap10 w100" [formGroup]="referralForm">
        <input id="uuidInput" formControlName="uuid" class="indroButton f1 br10 w100 mT30 textCenter" type="text" placeholder="codice promo">
        <button type="button" [disabled]="referralForm.invalid" class="btn1 brN pad15 bgrR f1 br10 w100" style="font-size: 17px;" (click)="redeem()">RISCATTA SCONTO</button>
    </form> -->

    <ng-container *ngIf="!loading">
        <ng-container *ngIf="(nots$ | async) as nots">
            <div *ngFor="let not of nots" class="flex fColumn f1 w100 br10 bgrW pad10 padY20 cP gap15 br1ALL" (click)="goBusiness(not.business_id)">
                <div class="flex fRow aCenter gap15">
                    <div class="flex fRow fCenter bgrAB" style="width: 45px; height: 45px; border-radius: 45px;">
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <div class="flex fColumn gap5 f1">
                        <h4 class="fw6">{{not.title}}</h4>
                        <h4 class="fw3">{{not.business_name}}</h4>
                    </div>
                    <div class="flex fColumn fCenter padX10">
                        <i class="fa-solid fa-chevron-right op7"></i>
                    </div>
                </div>
                <div class="flex fRow aCenter gap15">
                    <div class="flex fRow fCenter bgrAB" style="width: 45px; height: 45px; border-radius: 45px; visibility: hidden;">
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <div class="flex fColumn gap5"> 
                        <h4 *ngIf="not.body" class="fw4">"{{not.body}}"</h4>
                        <h5 class="fw3">{{not.created_at | date:'d/M/yy, H:mm'}}</h5>
                    </div>
                </div>
                <!-- https://angular.io/api/common/DatePipe -->
            </div>
            <p *ngIf="!nots.length">Nessun messagio dai locali.</p>
        </ng-container>
    </ng-container>
    <br>
    <!-- <div class="flex fColumn gap10">
        <h4 class="fw7">Vuoi il tuo CODICE promo da inviare sui social o agli amici per guadagnare sconti?</h4>
        <h5 class="fw4">Clicca su una tua Carta Fedeltà e vai su "INVITA E GUADAGNA", per ogni nuovo amico che userà il tuo codice, tu ricevi uno sconto in quel ristorante!</h5>
    </div> -->
</div>