@import './lib.css';
// @import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}
body {
  margin: 0;
  // height: calc(100% - 60px);
  // margin-top: 60px;
//   height: 100%;
  /* background-color: #f5f6f6; */
//   background-color: #fff7f7;
  background-color: white;
//   padding: 10px 10px 10px 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //     sans-serif;

  font-family: 'Noto Sans', 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
}
* {
  box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */

h3, p, h1, h2, h4 {
  margin: 0;
}


// # Mobile
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}

// # Desktop
@media (min-width: 768px) {
    .mobile {
        display: none;
    }
}