@import './lib.css';
// @import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: white;
  // background-color: #F5F5F5;
  font-family: 'Figtree', 'Roboto', sans-serif,  -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  color: #424242;
}
* {
  box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */

h3, p, h1, h2, h4, h5, h6 {
  margin: 0;
}

::-webkit-scrollbar { 
  display: none !important; 
}


// # Mobile
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}

// # Desktop
@media (min-width: 768px) {
    .mobile {
        display: none;
    }
}