@import './lib.css';
// @import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}
body {
  margin: 0;
  // height: calc(100% - 60px);
  // margin-top: 60px;
  height: 100%;
  // padding: 60px 0;
  // padding-bottom: 65px;
  overflow: hidden;
  /* background-color: #f5f6f6; */
//   background-color: #fff7f7;
  // background-color: white;
  background-color: #F5F5F5;
//   padding: 10px 10px 10px 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //     sans-serif;

  // font-family: 'Noto Sans', 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
  font-family: 'Nunito Sans';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  color: #424242;
}
* {
  box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */

h3, p, h1, h2, h4, h5, h6 {
  margin: 0;
}

::-webkit-scrollbar { 
  display: none !important; 
}


// # Mobile
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}

// # Desktop
@media (min-width: 768px) {
    .mobile {
        display: none;
    }
}