:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    i {
        font-size: 26px;
        background: white;
        border-radius: 42px;
        width: 42px;
        height: 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.avoidSystemSPace {
    padding-top: 60px;
    padding-bottom: 60px;
}